 *{
   box-sizing: border-box;
   font-family: "Segoe UI", "Open Sans", sans-serif, serif;
 }
 /*header*/
 #header{
  display: flex;

 }
 #logo-img {
  background: url('../images/clg_logo.png');
  background-repeat: no-repeat;
  background-size: 100px 100px;
  width: 100px;
  height: 100px;
  margin: 10px 15px 10px 15px;
}
.header_name {
  padding-top: 20px;
  
}
.header_name h1 {
  color: black;
  font-size: 2em;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
  
}
.header_name p {
  color: black;
  font-size: 1.2em;
  margin-top: 0;
  padding-top: 10px;
}
.header_name a, .header_name a:focus {
  text-decoration: none;
}



 /*department name OR main header*/
h2{
    margin: auto;
    color: #ffffff;
    font-size: 62px;
    font-weight: 400;
    text-transform: uppercase;
    font-style: normal;
    line-height: 1.7em;
    letter-spacing: 3.6px;
    text-shadow: 0px 0px 48px rgba(0,0,0,0.3);
}
body{
    margin: 0;
    padding: 0;
}
.img{
   background-image: url("../images/clg_pic.jpg.jpg");
    background-position: center center;
    background-size: cover;
    height: 300px;
    width: 100%;
}
.img.overflow{
  height: 400px;
}
.overlay{
  background-color: transparent;
  background-image: linear-gradient(90deg, #2470b7 0%, #007367 100%);
  opacity: 0.89;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
    height: 100%;
    width: 100%;
}
.heading{
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}
#line{
    border-top: 5px solid white;
    width: 60%;
    margin: auto;
    animation-duration: 1s; 
    animation-name: zoom;
}
.break {
    flex-basis: 100%;
    height: 10px;
  }
.res{
    text-align: center;
    margin: auto;
    animation-duration: 1s; 
    animation-name: zoom;
}

/*search bar*/
#search {
  width: 300px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url('../images/searchicon.png');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  margin:10px auto;
}

#search:focus {
  width: 95%;
}
/*select dept res*/
.box{
  display: none;
}
.box select {
  background-color: #0763e475;
  padding: 12px;
  width: 300px;
  border: none;
  font-size: 20px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  -webkit-appearance: button;
  appearance: button;
  outline: none;
  transition: .5s;
}

.box select option {
  padding: 30px;
}
.box select:focus{
  margin-bottom: 150px;
}

/*main page content*/
#main{
  position: relative;
  min-height: 500px;
}
#sidenav {
  position:absolute;
  height: 100%;
  width: 300px;
  top: 0;
  left: 0;
  border-right:2px solid #111;
}
#activedept , #sidenav a:hover {
  color: black;
}
.dept_select {
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: #818181;
  display: block;
  border-bottom: 1px solid #818181;
}


#list {
  text-align: center;
  margin-left: 300px;
}

.card{
     width: 250px;
     display: inline-block;
     border: .5px solid black;
     border-radius: 5px; 
     margin: 4%;
     animation-duration: 1s; 
    animation-name: zoom;
    transition: .3s;
    }
  .card:hover{
    box-shadow: 2px 2px 20px black;
  }

.image img{
  width: 250px;
  height: 250px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
 }

.title{
  text-align: center;
  padding: 10px;
 }

 .card a:link, .card a:visited{
   text-decoration: none;
   color: black;
 }

.des{
   padding: 3px;
   text-align: center;
   padding-top: 10px;
   padding-bottom: 20px;
   border-bottom-right-radius: 5px;
   border-bottom-left-radius: 5px;
}


/*staff info*/
.staff{
  background-color: rgb(241 243 245 / 0.5);

}
#info_parent{
  display: flex;
  align-items: center;
  min-height: 500px;
  margin: 0 auto;
  max-width: 1000px;
}
#staffinfo{
  width: 50%;
  margin: 5em;
}
#staffname h3{
  color: #0093bc;
  font-size: 40px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 0;
  line-height: 1;
}
#staffdes{
  margin-bottom: 20px;
  color: #929292;
  font-size: 16px;
  line-height: 1.5;
}
#staffpic{
  width: 50%;
  text-align: center;
  padding: 40px 20px;
}


/* FDP, STTP info*/
.activity_info{
    display: flex;
    align-items: stretch;
    height: 200px;
    width: 100%;
}
#col1{
    width: 25%;
}
#col2{
    width: 75%;
    border:1px solid black;
    height:500px ;
    z-index: -1;
}
ul{
    list-style: none;
    padding: 0;
    margin-top: 10px;
}
  
  
  li a{
    padding: 1.1em 0;
    color: black;
    text-align: center;
    text-decoration: none;

  }
  li a:hover {
    color: #fff;
  }

  
  .list-hover-slide li {
    position: relative;
    overflow: hidden;
  }
  .list-hover-slide a {
    display: block;
    position: relative;
    transition: 0.35s ease color;
  }
  .list-hover-slide a:before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    left: -100%;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(72, 174, 229, 0.7);
    transition: 0.35s ease left;
  }
  .list-hover-slide a.is-current:before, .list-hover-slide a:hover:before {
    left: 0;
    color: #dfdbd9;
  }
  .active a{
    color: black !important; 
  }
  .active{
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-right: solid 1px #fff;
    border-bottom: solid 1px #3C3735;
    border-top: solid 1px #3C3735;
    box-sizing: content-box;
    background: /*#3194c8*/#fff;
    transition: 0.35s ease left;
  }
  

@keyframes zoom{
    0% {
        transform: scale(.1);
        visibility: visible;
    }
    100% {
    }
}
@media (min-width: 768px) {
  #line{
    width: 500px;
  }
}
@media (max-width: 768px) {
  #sidenav{
    width:280px;
  }
  #list{
    margin-left:280px;
  }
  .header_name h1 {
    font-size:1.6em;
  }
  .header_name p {
    font-size: 1em;
  }
}
@media (max-width: 426px) {
  #list{
    margin-left: 0;
  }
  #sidenav, .header_name{
    display: none;
  }
  .box{
    display: block;
  }
}