 *{
   box-sizing: border-box;
 }
 /*header*/
 #header{
  display: flex;

 }
 #logo-img {
  background: url('../images/clg_logo.png');
  background-repeat: no-repeat;
  background-size: 100px 100px;
  width: 100px;
  height: 100px;
  margin: 10px 15px 10px 15px;
}
.header_name {
  padding-top: 20px;
  
}
.header_name h1 {
  color: black;
  font-size: 2em;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
  
}
.header_name p {
  color: black;
  font-size: 1.2em;
  margin-top: 0;
  padding-top: 10px;
}
.header_name a, .header_name a:focus {
  text-decoration: none;
}



 /*department name OR main header*/
h2{
    margin: auto;
    color: #ffffff;
    font-family: "Raleway", Sans-serif;
    font-size: 60px;
    font-weight: 200;
    letter-spacing: 5px;
}
body{
    margin: 0;
    padding: 0;
}
.img{
   background-image: url("../images/clg_pic.jpg.jpg");
    background-position: center center;
    background-size: cover;
    height: 300px;
    width: 100%;
}
.overlay{
    background-color: transparent;
    background-image: linear-gradient(90deg, #3194c8 0%, #194d65 100%);
    opacity: 0.89;
    height: 100%;
    width: 100%;
}
.heading{
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}
#line{
    border-top: 5px solid white;
    width: 500px;
    margin: auto;
    animation-duration: 1s; 
    animation-name: zoom;
}
.break {
    flex-basis: 100%;
    height: 10px;
  }
.res{
    text-align: center;
    margin: auto;
    animation-duration: 1s; 
    animation-name: slide;
}

/*search bar*/
input[type=text] {
  width: 300px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url('../images/searchicon.png');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  margin:10px 20px;
}

input[type=text]:focus {
  width: 95%;
}

/*main page content*/
#main{
  position: relative;
  min-height: 500px;
}
.sidenav {
  height: 100%;
  width: 300px;
  position: absolute;
  top: 0;
  left: 0;
  border-right:2px solid #111;
}
.sidenav a {
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: #818181;
  display: block;
  border-bottom: 1px solid #818181;
}

.sidenav a:hover {
  color: black;
}
#list {
  margin-left: 300px;
}

.card{
     width: 25%;
     display: inline-block;
     box-shadow: 2px 2px 20px black;
     border-radius: 5px; 
     margin: 4%;
    }

.image img{
  width: 100%;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
 }

.title{
  text-align: center;
  padding: 10px;
 }

 .teacher_name a{
   text-decoration: none;
 }

.des{
   padding: 3px;
   text-align: center;
   padding-top: 10px;
   padding-bottom: 20px;
   border-bottom-right-radius: 5px;
   border-bottom-left-radius: 5px;
}


/*staff info*/
.staff{
  display: flex;
  align-items: center;
  min-height: 500px;
  background-color: rgb(241 243 245 / 0.5);
}
#staffinfo{
  width: 50%;
  margin: 100px;
}
#staffpic{
  width: 50%;
  text-align: center;
  padding: 40px 20px;
  max-height: 250px;
}


/* FDP, STTP info*/
.activity_info{
    display: flex;
    align-items: stretch;
    height: 200px;
    width: 100%;
}
#col1{
    width: 25%;
}
#col2{
    width: 75%;
    border:1px solid black;
    height:500px ;
    z-index: -1;
}
ul{
    list-style: none;
    padding: 0;
    margin-top: 10px;
}
  
  
  li a{
    padding: 1.1em 0;
    color: black;
    text-align: center;
    text-decoration: none;

  }
  li a:hover {
    color: #fff;
  }

  
  .list-hover-slide li {
    position: relative;
    overflow: hidden;
  }
  .list-hover-slide a {
    display: block;
    position: relative;
    transition: 0.35s ease color;
  }
  .list-hover-slide a:before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    left: -100%;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(72, 174, 229, 0.7);
    transition: 0.35s ease left;
  }
  .list-hover-slide a.is-current:before, .list-hover-slide a:hover:before {
    left: 0;
    color: #dfdbd9;
  }
  .active a{
    color: black;
  }
  .active{
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    
    width: 100%;
    height: 100%;
    border-right: solid 1px #fff;
    border-bottom: solid 1px #3C3735;
    border-top: solid 1px #3C3735;
    box-sizing: content-box;
    background: /*#3194c8*/#fff;
    transition: 0.35s ease left;
  }
  

@keyframes slide{
    0% {
        transform: translate3d(150%,0,0);
        visibility: visible;
    }
    100% {
        transform: translate3d(0,0,0);
    }
}
@keyframes zoom{
    0% {
        transform: scaleX(.1);
        visibility: visible;
    }
    100% {
    }
}
@media (min-width: 768px) and (max-width: 1009px) {

  .card {
      width: 40%;
  }
}